*,
*::after,
*::before {
  padding: 0;
  margin: 0;
}

html {
    background-color: burlywood;
    scroll-behavior: smooth;
}

  h1 {
    font-family: 'Titan One', 'Times New Roman', Times, serif;
    font-size: 48px;
    font-weight: 700;
}

  a {
    color: black;
}
  
  p {
    color: whitesmoke;
}

.title {
    color: white;
    text-shadow: 2px 2px black;
    text-align: center;
    padding: 48px;
    padding-top: 96px;
    border-top: 1px black solid;
}